@charset "UTF-8";
@import "reset.css";
@import"cores.css";



@font-face {
     font-family: Fortnite;
     src: url(fonts/fortnite/fortnite.otf)
 }

body {
    color: var(--platinum);
    font-family: Fortnite;
    background-color: var(--midnight-violet);
}
.tituloPrincipal{
    text-align: center;
}
.img-banner {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(14, 171, 199);
}
.menu {
    text-align: center;
    margin: 20px 0;
}
.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
    border: 1px solid #000;
    background-color: aqua;
}

section {
    /* background-color: aquamarine; */
}

/* section section{
           font-size: 0;
        }    */
#turmas .sala {
    display: inline-block;
    vertical-align: top;
    background-color: burlywood;
    min-height: 300px;
    width: 100%;
    min-height: 350px;
    border: 2px solid #000;
    box-sizing: border-box;
}

#turmas footer {
    background-color: red;
}

#turmas footer h3 {
    font-size: smaller;
}

#turmas .sala.turma_A{
    background-color: bisque;
    color: #000;
}

#turmas .sala.turma_B{
    background-color: blueviolet;
}


.listaAlunos {
    list-style: decimal-leading-zero;
    margin-left: 30px;
}
.listaAlunos li {
    padding: 5px;
}

/*RESET*/-------
/*
  1. Use um box-sizing mais intuitivo
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remova as margens padrão e preenchimentos para melhor consistência
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Definir altura da linha base e facilitar a rolagem no html
*/
html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  4. Evitar problemas com imagens, vídeos e fontes
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/*
  5. Evitar que textos longos estourem seus contêineres
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  6. Criar um contexto de empilhamento (stacking context) no root
*/
#root, #__next {
  isolation: isolate;
}
